<%@ Master Language="C#" MasterPageFile="/masterpages/RunwayMaster.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderID="RunwayMasterContentPlaceHolder" runat="server">
<umbraco:Macro Alias="SubNavigation" runat="server"></umbraco:Macro>
<div id="content">
	
	<umbraco:Item runat="server" field="bodyText" />
</div>



</asp:Content>