<%@ Master Language="C#" MasterPageFile="/masterpages/RunwayMaster.master" AutoEventWireup="true" %>
<asp:Content ContentPlaceHolderID="RunwayMasterContentPlaceHolder" runat="server">

<div id="content">
	<umbraco:Item runat="server" field="bodyText" />
	<umbraco:Macro Alias="ArtistList" runat="server"></umbraco:Macro>
</div>

</asp:Content>